<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#" class="brand-logo top-nav">BitPub</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= link_to "GitHub Profile", "https://github.com/#{current_user.nickname}", target: "_blank" %>
      </li>
      <li>
        <%= link_to "Logout", "/logout", method: "delete" %>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="container">
    <div class="col s4">
      <br>
      <%= image_tag current_user.image_url, class: "responsive-img profile-pic" %>
      <h4> <%= current_user.name %> </h4>
      <h5> <%= current_user.nickname %> </h5>
      <h6> <%= link_to current_user.email, "mailto:#{current_user.email}", target: "_blank" %> </h6>

      <table class="highlight">
        <tbody>
          <tr>
            <td>Followers</td>
            <td><%= link_to @followers.count, "https://github.com/#{current_user.nickname}/followers", target: "_blank" %></td>
          </tr>
          <tr>
            <td>Starred</td>
            <td><%= link_to @stars.count, "https://github.com/stars", target: "_blank" %></td>
          </tr>
          <tr>
            <td>Following</td>
            <td><%= link_to @followings.count, "https://github.com/#{current_user.nickname}/following", target: "_blank" %></td>
          </tr>
          <tr>
            <td>Total Contributions</td>
            <td>Lollipop</td>
          </tr>
          <tr>
            <td>Longest Streak</td>
            <td>Lollipop</td>
          </tr>
          <tr>
            <td>Current Streak</td>
            <td>Lollipop</td>
          </tr>
          <tr>
            <td>My Organizations</td>
            <td><%= @orgs.count %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <div class="col s4">
        <br>
        <h5 class="center">Repos</h5>
        <div class="box collection">
          <table>
            <tbody>
              <% @repos.each do |repo| %>
                <tr>
                  <td><%= link_to repo[:name], "https://github.com/#{repo[:full_name]}", target: "_blank" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s4">
        <br>
        <h5 class="center">Recent Activity</h5>
        <div class="box collection">
          <table>
            <tbody>
              <% @repos.each do |repo| %>
                <tr>
                  <td><%= repo[:name] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <row class="col s8">

        <h5 class="center">Community Feed</h5>
        <div class="box collection">
          <table>
            <tbody>
              <% @repos.each do |repo| %>
                <tr>
                  <td><%= repo[:name] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </row>

    </div>
  </div>
</div>
